[submodule "lib/libsimplegba"]
	path = lib/libsimplegba
	url = https://github.com/Vulcalien/libsimplegba.git
[submodule "scripts/external/convert-resources"]
	path = tools/external/convert-resources
	url = git@github.com:Vulcalien/convert-resources-gba.git
